#container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

}

#content {
    width: 800px;
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    margin: 10px 15px;
    padding: 50px 50px 10px 50px;
    /*border : 2px solid grey;*/
    box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.3);

}
@media screen and (max-width: 768px) {
    #content {
        padding: 25px 50px 10px 50px !important;

    }

}



#title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
    word-break: keep-all;
    text-align-last: center;
}

.spotlight {
    font-size: 3rem;
    font-weight: 500;
}


#startButton {
    text-align: center;
    color: white;
}

#infoModalText{
    font-size: 1rem;

}

.infoHighlight {
    font-size: 1.5rem;
    font-weight: 500;
}

#githubIcon {
    width: 1.6rem;
    display: inline-block;
    margin-right: 0.2rem;
}

#githubWrapper {
    margin-top: 1rem;
    text-align: center;
}



#openInfo {
    margin-top: 1rem;
    cursor: pointer;
    color : grey;
    font-size: 0.9rem;
    text-align: center;

}


html,
body, main {
  height: 100%;
  width: 100%;
    font-family: 'Noto Serif KR', serif;
}



#sourceCheckContainer {
    display: flex;
    justify-content: center;
    margin: 0rem 0 1rem 0;
}

.sourceCheckWrapper {
    margin: 0 1rem;
    display: inline-block;
}



.customInput {
    width: 400px;
    margin: 0 auto;
    font-size: 1.3rem;
}