:root {
    --primary-color: #3e64ff;
    --primary-color-bright: #91e4ff;
    --tag-color: #eee;
    /*--primary-color: #FF3D00;*/
}


body::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/

}

body::-webkit-scrollbar
{
	width: 6px;

}

body::-webkit-scrollbar-thumb
{
	background-color: #b6b6b6;
    border-radius:100px;
}


html, body, main {
    font-family: 'Noto Serif KR', serif;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


a:link, a, a:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


html {
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    html {
        font-size: 11px;
    }

}

#sidebar #sidebarFixedMenu {
    position: relative;
}

.EasyMDEContainer a:link, .tip a:link, .tip a, .tip a:hover {
    color: #3e64ff !important;
}



body.dark-mode{
    /*--primary-color: #d9a70c;*/
    /*--primary-color-bright: #9a730a;*/
    --primary-color: #3e64ff;
    --primary-color-bright: #3e64ff;
    color: #bbb !important;
    background-color: #121212;
}
body.dark-mode .navbar {
    background-color: #232323 !important;
}
body.dark-mode #logo {
    filter: invert(0.8);
}


body.dark-mode a:link, body.dark-mode a, body.dark-mode a:hover {
    color : #bbb !important;
}



body.dark-mode #sidebar {
    background-color: #343434;
}

body {
    transition : all 1s !important;
}

body.dark-mode .sidebarCollapse, body.dark-mode .sidebarCollapseMobile {
    background-color: #454545;
    color: #bbb;
    border-bottom: 1px solid var(--primary-color-bright);
}

