:root {
    --primary-color: #3e64ff;
    --primary-color-bright: #91e4ff;
    --tag-color : #eee;
    /*--primary-color: #FF3D00;*/
}

html, body, main {
    font-family: 'Noto Serif KR', serif;
}


a:link, a, a:hover {
    text-decoration: none;
    color: black;
}


html {
    font-size: 16px;
}


@media screen and (max-width: 768px) {
    html {
        font-size: 11px;
    }

}

#sidebar #sidebarFixedMenu{
   position: relative;
}