#nicknameInputWrapper {
    display: flex;
    align-items: center;
}

#nicknameLabel {
    margin: 0;
}

#nicknameInput {
    width: 300px;
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 0.8rem;
}

#nicknameLabel {
    font-size: 1.5rem;

}

#registerButton {
    margin-top: 1rem;
}


#makeRoom {
    margin: 0.2rem;
    width: 50%;
}

#enterExistRoom {
    margin: 0.2rem;
    width: 50%;
}

#buttonWrapper {
    display: flex;
    width: 100%;
}

#container {
    height: 100vh;
}

.form-group {
    text-align: center;
}