body {

    /*line-height: 1.8;*/
    font-weight: normal;
    /*background: #fafafa;*/
    /*color: gray;*/
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    /*color: var(--primary-color);*/
}

a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    font-weight: 400;
    /*font-family: "Poppins", Arial, sans-serif;*/
    /*color: #000;*/
}

.ftco-section {
    padding: 7em 0;
}

.ftco-no-pt {
    padding-top: 0;
}

.ftco-no-pb {
    padding-bottom: 0;
}

.heading-section {
    font-size: 28px;
    color: #000;
}

.heading-section small {
    font-size: 18px;
}

.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    width: 100%;
}

#sidebar {
    min-width: 270px;
    max-width: 270px;
    background: var(--primary-color);
    color: #fff;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        -webkit-transition: all 0.0s;
        -o-transition: all 0.0s;
        transition: all 0.3s;
    }
}


#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active ul.components li {
    font-size: 14px;
}

#sidebar.active ul.components li a {
    padding: 10px 0;
}

#sidebar.active ul.components li a span {
    margin-right: 0;
    display: block;
    font-size: 24px;
}

#sidebar.active .logo {
    padding: 10px 0;
}

#sidebar.active .footer {
    display: none;
}

#sidebar .logo {
    display: block;
    color: #fff;
    font-weight: 900;
    padding: 10px 30px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .logo {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar ul.components {
    padding: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar ul.components {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li > ul {
    margin-left: 10px;
}

#sidebar ul li > ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 10px 30px;
    display: block;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a span {
    margin-right: 15px;
}

@media (max-width: 768px) {
    #sidebar ul li a span {
        display: block;
    }
}

#sidebar ul li a:hover {
    color: #fff;
}

#sidebar ul li.active > a {
    background: transparent;
    color: #fff;
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }

    #sidebar.active {
        margin-left: 0 !important;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebarCollapse span {
        display: none;
    }
}

.footer {
    padding: 0 30px;
}

@media (max-width: 768px) {
    .footer {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn.btn-primary {
    background: var(--primary-color);
    border-color:  var(--primary-color);
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background:  var(--primary-color) !important;
    border-color:  var(--primary-color) !important;
}


/*mine*/
.sidebarCollapse {
    background: white;
    color: var(--primary-color);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    /*width: 80%;*/
    text-align: center;
    font-size: 1.1rem;
    padding: 0.7rem;
    display: inline-flex;
}

.sidebarCollapseMobile {
    color: white;
    background:  var(--primary-color);
    border-radius: 5px;
    /*width: 80%;*/
    text-align: center;
    font-size: 1.0rem;
    /*padding: 0.7rem;*/
    display: inline-flex;
}


#sidebar {
    /*text-align: center;*/


}

#sidebar:not(.active) ul {
    text-align: left;
}

@media (min-width: 768px) {
    .sidebarCollapseMobile {
        display: none;
    }

    .sidebarCollapse {
        display: inline-flex;
    }

    #logo {
        height: 55px;
    }

    .navbar {
        margin: 0;
        padding: 0;
    }

}

@media (max-width: 768px) {
    .sidebarCollapseMobile {
        display: inline-block;
    }

    .sidebarCollapse {
        display: none;
    }

    #logo {
        height: 45px;
    }

    .navbar {
        margin: 0;
        padding: 5px 10px;
    }
}

#logo {
    cursor: pointer;
}

/*@media (min-width: 768px) {*/
/*    .sidebarCollapse {*/
/*        background: white;*/
/*        color: #3e64ff;*/
/*        margin-top: 1.5rem;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .sidebarCollapse span {*/
/*        display: none;*/
/*    }*/
/*}*/

.navbar {

    margin: 1rem;
}


#navSearchInput {

}

#navSearchButton {

}

#navSearchWrapper {
    width: 300px;
}

@media (max-width: 768px) {
    #navSearchWrapper {
        display: none;
    }
}

#navRightButton {
    margin-right: 1rem;
}

.sidebarCollapseMobile i {
    color: white !important;
}

.sidebarCollapse {
    cursor: pointer;

}

.sidebarCollapse {
    text-align: left !important;
    /*margin-left: 21.11px;*/
    position: fixed;
    left: 21.11px;
    top: 0;
}


@media (min-width: 768px) {
    #navMenus {
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    #navMenus {
        margin-top: 10px;
    }
}

