#waitContent {
    width: 800px;
    display: flex;
    flex-direction: column;

    border-radius: 15px;
    margin: 10px 15px;
    padding: 50px 50px 10px 50px;
    /*border : 2px solid grey;*/
    box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.3);

}

#waitContent {
    padding: 1rem !important;
}

@media screen and (max-width: 768px) {
    #waitContent {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #leftContainer {
        /*flex-grow: 1;*/

    }

    #rightContainer {
        margin-top: 1rem;
        width: 100%;
        color: blue;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #roomIdWrapper {
        padding: 1rem 3rem;
        background-color: var(--primary-color);
        font-size: 1.5rem;
        color: white;
    }

    #roomId {
        font-size: 3rem;
    }


    #startLiveButton, #exitButton, #readyButton {
        width: 100%;
    }


}

@media screen and (min-width: 768px) {
    #waitContent {
        width: 80%;
        display: flex;
        flex-direction: row;
    }


    #leftContainer {
        flex-grow: 1;

    }

    #rightContainer {
        width: 400px;
        color: blue;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #roomIdWrapper {
        padding: 1rem 3rem;
        background-color: var(--primary-color);
        font-size: 1.5rem;
        color: white;
    }

    #roomId {
        font-size: 3rem;
    }


    #startLiveButton, #exitButton, #readyButton {
        width: 100%;
    }

}


.userIcon {
    background-color: #e2e2e2;
    padding: 1rem;
    border-radius: 1000px;
    color: black;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.roomMasterIconWrapper {
    color: gold;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    display: inline-block;
}

.readyBadge {
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.userWrapper {
    display: flex;
    align-items: center;
}


.meIcon {
    background-color: var(--primary-color-bright);
}


.userNickname {
    font-size: 1.6rem;
}

.userWrapper {
    margin: 0.2rem;
}

#userContainer {
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

#roomId {
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    #quizContent, #quizContent2 {
        width: 95%;

    }


}

#quizContent, #quizContent2 {
    background-color: white;
}

#quizContent, #quizContent2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


#myProgressBar {

    background-color: skyblue;
    height: 0%;
    opacity: 0.5;
}

#myProgressBarWrapper {
    background-color: #eee;
    padding: 1rem 0;
    height: 100vh;
    width: 2.5rem;
    position: fixed;
    right: 0;
    top: 0;
}

.otherPlayerMarker {

    /*right: 1.5rem;*/
    font-size: 2rem;
    /*top: 1rem;*/
    transform: rotate(-90deg);
}

.otherPlayerMarkerWrapper {
    position: fixed;
    right: 1.5rem;
    top: 1rem;

    display: flex;

}

.otherPlayerMarkerNickname {
    font-size: 1rem;
    text-align: right;
    max-width: 6rem;
    margin: auto 0.7rem auto 0;
}


.overlayBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background: #dddddd;
    opacity: .8;
    z-index: 1000;

}


#countDownOverlay {
    width: 250px;
    height: 250px;
    font-size: 5rem;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameEndOverlay {
    width: 60%;
    padding: 2rem;
    font-size: 3rem;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameStartOverlay {
    width: 60%;
    padding: 2rem;
    font-size: 2rem;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#roomSettingWrapper {
    cursor: pointer;
    margin: 1rem 0;
    padding: 0.6rem 0 0 0;
    box-shadow: 0px 0px 11px -5px rgba(0, 0, 0, 0.3);

    color: black;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

.roomSettingModalBody {
    font-size: 1.5rem;

}

#correctScoreInput, #goalScoreInput, #wrongScoreInput {
    text-align: center;
}

#editRoomSettingButton {
    width: 100%;
    margin-top: 0.5rem;
}

#roomSettingIconWrapper {
    width: 100%;
    font-size: 1rem;
    background-color: #eee;
    margin-top: 1rem;
    padding: 0.1rem;
}

#remainTime {
    font-size: 1.3rem;
    left: 3rem;
    position: fixed;
    top: 2rem;
    padding: 1rem;
    background-color: #eee;
    border-radius: 1000px;
}