{% extends "layout.html" %}


{% block style %}
    <title>22수능 문학작품 또또 - 문학모아</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/munhak_board.css') }}">


{% endblock %}

{% block main %}

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/toto.css') }}">

    <div id="contentContainer">
        <div id="upperContainer" class="">
            <div id="totoTitle">
                22 수능 문학 작품 또또
            </div>
            <div id="totoDescription">
                22 수능에 연계될 것 같은 EBS 작품은? (~11/11 까지 선택)

            </div>


        </div>


        <div id="underContainer">
            <div class="d-flex justify-content-end">
                <div></div>
                <div id="goPickButton" class="btn btn-outline-primary">
                    <i class="fas fa-edit"></i> 선택 / 수정

                </div>
            </div>
            <div id="userContainer">
                {% for user in data.pick_list %}
                    <div class="userWrapper">

                        <div class="pickContainer">
                            {% for pick in [user.pick1, user.pick2] %}
                                {% if pick != None %}
                                    <div class="pickWrapper"
                                         onclick="movePage(`{{ url_for('board.munhak_board_detail', munhak_seq=pick.munhak_seq) }}`);">{{ pick.writer }},
                                        『{{ pick.title }}』
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% for pick in [user.pick3, user.pick4, user.pick5, user.pick6] %}
                                {% if pick != None %}
                                    {% if data.is_pick_available == False or user.user_seq == data.user_seq or data.user_seq == 1 %}
                                        <div class="pickWrapper"
                                             onclick="movePage(`{{ url_for('board.munhak_board_detail', munhak_seq=pick.munhak_seq) }}`);">{{ pick.writer }},
                                            『{{ pick.title }}』
                                        </div>


                                    {% else %}
                                        <div class="pickNotPublic">
                                            <i class="fa fa-question pickNotPublicIcon"></i>
                                        </div>
                                    {% endif %}
                                {% endif %}


                            {% endfor %}
                        </div>

                        <div class="underPickInfo">
                            <div class="userNickname">
                                <i class="fas fa-user"></i> {{ user.nickname }}
                            </div>
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            <div class="pickDatetime">
                                <i class="fas fa-calendar-day"></i> {{ user.date }}
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
        <div id="totoDescription2">
            2 작품 이상 적중 시 소정의 상품을 드립니다 (＠＾０＾)
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        (() => {
            function warningToast(message) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "2000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["warning"](message, "오류")
            }

            let is_logined = {{ "true" if "user" in session else "false"}};
            $(document).ready(function () {

            });
            $("#goPickButton").on("click", function () {
                if (!is_logined) {
                    warningToast("로그인이 필요합니다!");
                    return;
                }
                movePage(`/toto/pick`);

            });

        })();

    </script>
{% endblock %}