{% extends "quiz/layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/quiz.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/ranking.css') }}">
    <title>알아두면 쓸데없는 문학퀴즈 - 문학모아</title>
{% endblock %}

{% block main %}

    <div id="container">


        <div id="content">


            <div id="title">
                <span class="spotlight">알</span>아두면 &nbsp;
                <span class="spotlight">쓸</span>데없는 &nbsp;
                <span class="spotlight">문학</span>퀴즈
            </div>


            <div id="sourceCheckContainer">
                <div class="custom-control custom-checkbox sourceCheckWrapper">

                    <input type="checkbox" class="custom-control-input "
                           id="sourceCheck1" data="평가원" checked>
                    <label class="custom-control-label"
                           for="sourceCheck1">평가원 기출</label>


                </div>
                <div class="custom-control custom-checkbox sourceCheckWrapper">

                    <input type="checkbox" class="custom-control-input "
                           id="sourceCheck2" data="수특/수완" checked>
                    <label class="custom-control-label"
                           for="sourceCheck2">수특 · 수완</label>


                </div>
            </div>


            <a id="startButton" class="btn btn-primary">시작하기</a>


            <span id="openInfo">정보</span>

        </div>
    </div>


    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">
                    <div id="infoModalText">
                        총 <span class="infoHighlight">{{ data.total_munhak }}</span>개의 문학 작품이 있습니다. <br>
                        문학 작품의 출처는
                        <br>
                        <small>{{ ", ".join(data.source_list) }}</small>
                        <br>
                        입니다.


                        <div id="githubWrapper">
                            <a href="https://github.com/woduq1414">
                                <img src="https://www.iconfinder.com/data/icons/octicons/1024/mark-github-512.png"
                                     id="githubIcon">
                                woduq1414</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="rankingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body rankingModalBody">

                </div>

            </div>
        </div>
    </div>

    <div id="goMainPage">
        <div class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left"></i> 메인으로
        </div>


    </div>

        <div id="goLivePage">
        <div class="btn btn-outline-danger">
            <i class="fas fa-arrow-left"></i> Live로
        </div>


    </div>


    <div id="openRanking">
        <i class="fas fa-trophy"></i>
    </div>

{% endblock %}



{% block script %}
    <script>

        $("#startButton").on("click", function () {

            let s1 = $("#sourceCheck1").prop("checked");
            let s2 = $("#sourceCheck2").prop("checked");
            console.log(s1, s2);
            location.href = `{{ url_for("quiz.quiz") }}?s1=${s1}&s2=${s2}&re=true`
        })


        $("#goMainPage").on("click", function () {
            location.href = "{{ url_for("others.index") }}"
        })

         $("#goLivePage").on("click", function () {
            location.href = "{{ url_for("quiz.enter_live") }}"
        })



        $("#openInfo").on("click", function () {
            $("#infoModal").modal();
        })
        $("#openRanking").on("click", function () {
            $("#rankingModal").modal();
            $.ajax({
                type: "GET",
                url: "./render-ranking",
                statusCode: {
                    404: function (data) {
                        location.href = "./result";
                    },
                    200: function (data) {
                        console.log(data);
                        $(".rankingModalBody").html(data);
                    }
                }

            })
        })
    </script>
{% endblock %}