{% extends "quiz/layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/munhak_board.css') }}">
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/quiz.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/ranking.css') }}">
    <title>알아두면 쓸데없는 문학퀴즈 - 문학모아</title>
{% endblock %}

{% block main %}

    <div id="container">


        <div id="content">


            <div id="title">
                <span class="spotlight">알</span>아두면 &nbsp;
                <span class="spotlight">쓸</span>데없는 &nbsp;
                <span class="spotlight">문학</span>퀴즈
            </div>


            <div id="currentSource">
                <i class="fas fa-edit"></i> 출제 범위 : <span id="currentSourceText">평가원 기출(2016~2022학년도)</span>
            </div>


            {#            <div id="sourceCheckContainer">#}
            {#                <div class="custom-control custom-checkbox sourceCheckWrapper">#}
            {##}
            {#                    <input type="checkbox" class="custom-control-input "#}
            {#                           id="sourceCheck1" data="평가원" checked>#}
            {#                    <label class="custom-control-label"#}
            {#                           for="sourceCheck1">평가원 기출</label>#}
            {##}
            {##}
            {#                </div>#}
            {#                <div class="custom-control custom-checkbox sourceCheckWrapper">#}
            {##}
            {#                    <input type="checkbox" class="custom-control-input "#}
            {#                           id="sourceCheck2" data="수특/수완" >#}
            {#                    <label class="custom-control-label"#}
            {#                           for="sourceCheck2">21 수특 · 수완</label>#}
            {##}
            {##}
            {#                </div>#}
            {##}
            {#                      <div class="custom-control custom-checkbox sourceCheckWrapper">#}
            {##}
            {#                    <input type="checkbox" class="custom-control-input "#}
            {#                           id="sourceCheck_2022" data="수특/수완" checked>#}
            {#                    <label class="custom-control-label"#}
            {#                           for="sourceCheck_2022">22 수특 · 수완</label>#}
            {##}
            {##}
            {#                </div>#}
            {#            </div>#}


            <a id="startButton" class="btn btn-primary">시작하기</a>


            <span id="openInfo">정보</span>

        </div>
    </div>


    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body">
                    <div id="infoModalText">
                        총 <span class="infoHighlight">{{ data.total_munhak }}</span>개의 문학 작품이 있습니다. <br>
                        문학 작품의 출처는
                        <br>
                        <small>{{ ", ".join(data.source_list) }}</small>
                        <br>
                        입니다.


                        <div id="githubWrapper">
                            <a href="https://github.com/woduq1414">
                                <i class="fab fa-github" id="githubIcon"></i>
                                <span id="githubId">woduq1414</span>
                            </a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="sourceModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body" id="sourceModalBody">

                    <div id="sourceModalWrapper">
                        <span>출처 :</span>
                        <span id="sourceCheckAll">모두 선택</span>
                        <span id="sourceCheckNone">모두 해제</span>
                        <div id="sourceCheckContainer">
                            {% for key, source_group in data.source_dict.items() %}
                                <div class="sourceCheckGroup">
                                    {% set t = loop.index %}
                                    {% for source in source_group %}
                                        <div class="custom-control custom-checkbox sourceCheckWrapper">
                                            <input type="checkbox" class="custom-control-input sourceCheckBox"
                                                   id="sourceCheck{{ t * 100 + loop.index }}" data="{{ source }}">
                                            <label class="custom-control-label"
                                                   for="sourceCheck{{ t * 100 + loop.index }}">{{ source }}</label>
                                        </div>

                                    {% endfor %}
                                </div>

                            {% endfor %}
                        </div>


                    </div>

                    <div id="sourceModalConfirm" class="btn btn-primary">설정</div>


                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="rankingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body rankingModalBody">

                </div>

            </div>
        </div>
    </div>


    <div id="goMainPage">
        <div class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left"></i> 메인으로
        </div>


    </div>

    <div id="goLivePage">
        <div class="btn btn-outline-danger">
            <i class="fas fa-arrow-left"></i> Live로
        </div>


    </div>


    <div id="openRanking">
        <i class="fas fa-trophy"></i>
    </div>

{% endblock %}



{% block script %}
    <script>


        let selected_source_dict = {
            {% for source in data.source_list %}
                "{{ source }}": {{"true" if "고3" in source else "false"}},
            {% endfor %}
        };
        $("#currentSource").on("click", function () {
            $("#sourceModal").modal();
            for (let source of Object.keys(selected_source_dict)) {
                $(`.sourceCheckBox[data='${source}']`).prop("checked", selected_source_dict[source]);
                // console.log($(`.sourceCheckBox[data=${source}]`));
            }

        });


        $("#sourceCheckAll").on("click", function () {
            $(".sourceCheckBox").prop("checked", true)
        });
        $("#sourceCheckNone").on("click", function () {
            $(".sourceCheckBox").prop("checked", false)
        });

        $(document).on("click", "#sourceModalConfirm", function () {
            let f = undefined;
            let c = 0;
            $(".sourceCheckBox").each(function (index, item) {
                let t = $(item).attr("data");
                if ($(item).is(":checked") === true) {
                    selected_source_dict[t] = true;
                    f = t;
                    c += 1;
                } else {
                    selected_source_dict[t] = false;
                }
            });

            if (f === undefined) {
                alert("하나 이상 선택해주세요!");
                return;
            }

            if (c === 1) {
                $("#currentSourceText").text(`${f}`);
            } else {
                $("#currentSourceText").text(`${f} 외 ${c - 1}개`);
            }

            $("#sourceModal").modal("hide");
        });


        $("#startButton").on("click", function () {
            $.ajax({
                type: "POST",
                data: JSON.stringify({
                    "source_dict": selected_source_dict,
                    "re": true,
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                url: "./reset-quiz",
                statusCode: {
                    200: function (data) {
                        location.href = "{{ url_for("quiz.quiz") }}";
                    }
                }

            })
        })


        $("#goMainPage").on("click", function () {
            location.href = "{{ url_for("others.index") }}"
        })

        $("#goLivePage").on("click", function () {
            location.href = "{{ url_for("quiz.enter_live") }}"
        });

        $("#openInfo").on("click", function () {


            $("#infoModal").modal();


        });


        $("#openRanking").on("click", function () {
            $("#rankingModal").modal();
            $.ajax({
                type: "GET",
                url: "./render-ranking",
                statusCode: {
                    404: function (data) {
                        location.href = "./result";
                    },
                    200: function (data) {
                        console.log(data);
                        $(".rankingModalBody").html(data);
                    }
                }

            })
        })
    </script>
{% endblock %}