{% extends "quiz/layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/quiz.css') }}">
    <title>알아두면 쓸데없는 문학퀴즈 - 문학모아</title>
{% endblock %}

{% block main %}

    <div id="container">
        <div id="content">
            <div id="upperBox">
                <div id="quizNo">
                    {{ data.quiz_no }}
                </div>
                <div id="category">
                    {{ data.category }}
                </div>
            </div>

            <div id="hint">
                <q>&nbsp;{{ data.hint }}&nbsp;</q>
            </div>
            <hr>
            <div id="options">
                {% for option in data.options %}
                    <div class="option" option="{{ loop.index0 }}" id="option{{ loop.index }}">
                        {{ option }}
                    </div>
                {% endfor %}
            </div>


            <div id="total-munhak">
                남은 문제수 : {{ data.total_munhak - data.quiz_no }}
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     style="width: {{ (data.quiz_no - 1) / data.total_munhak * 100 }}%"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(".option").on("click", function () {
            let option = $(this).attr("option");
            $.ajax({
                type: "POST",
                url: "./answer",
                data: {"option": option},
                dataType: "json",
                statusCode: {
                    404: function (data) {
                        location.href = "./result";
                    },
                    200: function (data) {
                        window.location.reload();
                    },
                    401: function (data) {
                         location.href = "./";
                    }
                }

            }).done(function (data) {
                console.log(data);

            })
        })
    </script>


{% endblock %}