<div id="content">
    <div id="upperBox">
        <div id="quizNo">
            {{ data.quiz_no }}
        </div>
        <div id="category">
            {{ data.category }}
        </div>
    </div>

    <div id="hint">
        <q>&nbsp;{{ data.hint }}&nbsp;</q>
    </div>
    <hr>
    <div id="options">
        {% for option in data.options %}
            <div class="option" option="{{ loop.index0 }}"
                 id="option{{ loop.index }}">
                {{ option }}
            </div>
        {% endfor %}
    </div>


    <div id="total-munhak">
        남은 문제수 : {{ data.total_munhak - data.quiz_no }}
    </div>
    <div class="progress">
        <div class="progress-bar" role="progressbar"
             style="width: {{ (data.quiz_no - 1) / data.total_munhak * 100 }}%"
             aria-valuemin="0" aria-valuemax="100"></div>
    </div>


    <script>


        $(document).on("keyup", function (event) {

            if (event.keyCode === 49 || event.which === 49) {
                {#$(document).off("keypress");#}
                selectOption(0);

            } else if (event.keyCode === 50 || event.which === 50) {
                {#$(document).off("keypress");#}
                selectOption(1);

            } else if (event.keyCode === 51 || event.which === 51) {
                {#$(document).off("keypress");#}
                selectOption(2);

            } else if (event.keyCode === 52 || event.which === 52) {
                {#$(document).off("keypress");#}
                selectOption(3);

            }
        });


        function selectOption(option) {

            if (isOptionSelected === true) {
                return;
            }


            isOptionSelected = true;


            $.ajax({
                type: "POST",
                url: "./answer",
                data: {"option": option},

                statusCode: {
                    404: function (data) {
                        location.href = "./result";
                    },
                    200: function (data) {
                        if (window.__THEME_MODE === 'dark') {
                            $("#container").animate({
                                "borderWidth": "50px",
                                "borderColor": "#91e4ff"
                            }, 100, function () {
                                setTimeout(function () {

                                    $("#container").animate({
                                        "borderWidth": "0px",
                                        "borderColor": "transparent"
                                    }, 100, function () {

                                    });


                                }, 500);

                            });

                        } else {
                            $("#container").animate({"background-color": "#91e4ff"}, 100, function () {
                                setTimeout(function () {

                                    $("#container").animate({"background-color": "white"}, 100, function () {

                                    });

                                }, 500);

                            });
                        }


                        $("#content").attr("id", "content2");
                        $("#content2").css("position", "fixed");
                        $("#content2").animate({top: -$("#content2").height() - 50}, 500, function () {
                            $("#content2").remove();
                        });


                        $("#container").append(
                            data
                        );
                        {#$("#content").hide();#}
                        $("#content").css("position", "fixed");
                        $("#content").css("top", "unset");
                        $("#content").css("top", `${$(document).height()}px`);

                        console.log(($(document).height() - $("#content").height()) / 2)

                        $temp = $("#content");
                        $temp.animate({top: ($(document).height() - $temp.height()) / 2}, 700, function () {
                            isOptionSelected = false;

                            setTimeout(function () {
                                $temp.css("position", "unset");
                            }, 500);

                        });


                        {#window.location.reload();#}
                    },
                    401: function (data) {
                        location.href = "./";
                    }
                }

            });
        }


        $("#content .option").on("click", function () {

            $("#content .option").off("click");


            let option = $(this).attr("option");
            selectOption(option);


        })
    </script>

</div>




