{% extends "layout.html" %}


{% block style %}
    <title>문학모아 : 모두의 문학 나눔터</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/munhak_board.css') }}">
{% endblock %}

{% block main %}
    <div id="contentContainer">
       <div id="centerContent">

           <h1>
               모두가 함께 모아가는 문학 나눔터,
           </h1>
           <h2>
               문학모아에 오신 것을 환영합니다!
           </h2>

           <div class="btn btn-outline-secondary" id="goRandomMunhak">
               <i class="fas fa-random"></i>&nbsp;아무 문학이나 일단 둘러보기
           </div>
       </div>
    </div>

{% endblock %}

{% block script %}
    <script>

        $("#goRandomMunhak").on("click",function(){
          location.href=`{{ url_for("board.random_munhak") }}`
        })

    </script>
{% endblock %}