{% extends "layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
{% endblock %}

{% block main %}

    <div id="container">
        <div id="content">
            <div id="title">
                <span class="spotlight">알</span>아두면  &nbsp;
                <span class="spotlight">쓸</span>데없는  &nbsp;
                <span class="spotlight">문학</span>퀴즈
            </div>


            <a id="startButton" class="btn btn-primary" href="{{ url_for("quiz") }}">시작하기</a>

        </div>
    </div>

{% endblock %}