<!DOCTYPE HTML>
<html lang="kr">
<head>
    <meta name="google-site-verification" content="ZuC80xg3UME3ao9EtYCQJUbccygdekyADXkh4bywMUo"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://kit.fontawesome.com/43798b0c81.js" crossorigin="anonymous"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/layout.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/nav.css') }}">

    {#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">#}
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap" rel="stylesheet">
    <meta property="og:url" content="https://munhak.herokuapp.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://munhak.herokuapp.com/images/logo6.png"/>
    <meta property="og:title" content="문학모아"/>
    <meta property="og:description" content="모두가 함께 모아가는 문학 나눔터"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{{ url_for('static', filename='js/pjax.js') }}"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"#}
    {#            integrity="sha512-7G7ueVi8m7Ldo2APeWMCoGjs4EjXDhJ20DrPglDQqy8fnxsFQZeJNtuQlTT0xoBQJzWRFp4+ikyMdzDOcW36kQ=="#}
    {#            crossorigin="anonymous"></script>#}
    {% block style %}{% endblock %}


    <script>


    </script>

</head>
<body class="{{ "dark-mode" if g.user_theme == "dark" else "" }}">
<header>
    {#    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">#}
    {#        <a class="navbar-brand" href="">게시판</a>#}
    {#        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse"#}
    {#                aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">#}
    {#            <span class="navbar-toggler-icon"></span>#}
    {#        </button>#}
    {#        <div class="navbar-collapse collapse" id="navbarCollapse" style="">#}
    {#            <ul class="navbar-nav mr-auto">#}
    {#                <li class="nav-item">#}
    {#                    <a class="nav-link" href="">메인</a>#}
    {#                </li>#}
    {##}
    {#            </ul>#}
    {##}
    {#        </div>#}
    {#    </nav>#}
</header>


<div class="wrapper d-flex">
    <nav id="sidebar" class="active">
        {#            <h1><a href="index.html" class="logo">M.</a></h1>#}

        <div id="sidebarFixedMenu">
            <div id="sidebarCollapseWrapper">
                <span class="sidebarCollapse">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </span>
            </div>

            <ul id="navMenus" class="list-unstyled components mb-5">
                <li class="active">
                    <a onclick="movePage(`{{ url_for('others.index') }}`);"><span class="fa fa-home"></span> 홈</a>
                </li>
                <li>
                    <a onclick="movePage('/board?clear=1');"><span class="fa fa-file-alt"></span> 기출작품</a>
                </li>
                <li>
                    <a onclick="movePage('/reading-quiz/list');"><span class="fa fa-sticky-note"></span> 독서퀴즈</a>
                </li>
                <li>
                    <a href="{{ url_for('quiz.index') }}"><span class="fa fa-question"></span> 알쓸문퀴</a>
                </li>
                <li>
                    <a onclick="movePage('/toto');"><span class="fa fa-dice"></span> 문학또또</a>
                </li>


                <li>
                    <a onclick="userTheme(true)"><span class="fas fa-sun" id="darkModeIcon"></span></a>
                </li>
            </ul>
        </div>


    </nav>

    <!-- Page Content  -->
    <div id="content" class="">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div>
                    <button type="button" class="sidebarCollapseMobile btn " class="btn btn-primary">
                        <i class="fa fa-arrow-left"></i>

                    </button>

                    <img onclick="movePage(`{{ url_for('others.index') }}`);" id="logo"
                         src="{{ url_for('others.get_image', path='logo6.png') }}">
                </div>


                {#                <div id="navSearchWrapper" class="input-group">#}
                {#                    <input class="form-control rounded-pill py-2 pr-5 mr-1 bg-transparent" type="search"#}
                {#                           id="navSearchInput">#}
                {#                    <span class="input-group-append">#}
                {#                        <div class="input-group-text border-0 bg-transparent ml-n5" id="navSearchButton"><i#}
                {#                                class="fa fa-search"></i></div>#}
                {#                    </span>#}
                {#                </div>#}

                <button id="navRightButton" class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        {% if "user" in session %}
                            <li class="nav-item">
                                <a class="nav-link" onclick="movePage(`{{ url_for('user.my_page') }}`);">
                                    {{ session.user.nickname }}님, 안녕하세요!
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('user.logout') }}">
                                    로그아웃
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('user.login_form') }}">로그인 / 회원가입</a>
                            </li>
                        {% endif %}

                    </ul>
                </div>
            </div>
        </nav>

        <main style="">
            {% block main %}{% endblock %}
            {% block script %}


            {% endblock %}
        </main>


    </div>
</div>




{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            var messages = {{ messages | safe }};
            for (var i = 0; i < messages.length; i++) {
                alert(messages[i]);
            }
        </script>
    {% endif %}
{% endwith %}



<script>

    function movePage(url) {
        //console.log(url);
        $(window._bsPopover).popover('hide')
        {#alert(url)#}
        $.pjax({
            url: url, container: 'main', fragment: "main", pushRedirect: true,
            replaceRedirect: false, maxCacheLength: 5000000, timeout: 6000
        });
    }

    $(window).on('popstate', function (event) {

        {#alert("hello")#}
        window.location.reload();
    });


    $(document).on('pjax:start', function () {
        $('main').html(`
<div style="margin : auto">
    <div class="loadingio-spinner-magnify-3bzgvk8ot4j"><div class="ldio-1w0vfy4w9ou">
<div><div><div></div><div></div></div></div>
</div></div>
<style type="text/css">
@keyframes ldio-1w0vfy4w9ou {
    0%    { transform: translate(2px,2px) }
   33.33% { transform: translate(102px,2px) }
   66.66% { transform: translate(42px,102px) }
  100%    { transform: translate(2px,2px) }
}

@keyframes op {
    0%    { opacity: 0 }
    50% { opacity : 0 }
    100% { opacity : 0.8 }
}


.ldio-1w0vfy4w9ou {
    animation: op 4s ease-in-out;
}

.ldio-1w0vfy4w9ou > div {
  transform: scale(0.8);
  transform-origin: 100px 100px;
}

.ldio-1w0vfy4w9ou > div > div {
  animation: ldio-1w0vfy4w9ou 0.9345794392523364s linear infinite;
  position: absolute
}

.ldio-1w0vfy4w9ou > div > div div:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 12px solid #0cafe9;
  background: transparent;
}

.ldio-1w0vfy4w9ou > div > div div:nth-child(2) {
  width: 17px;
  height:  51px;
  transform: rotate(-45deg);
  background: #0cafe9;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 68px;
  left: 85px
}
.loadingio-spinner-magnify-3bzgvk8ot4j {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-1w0vfy4w9ou {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-1w0vfy4w9ou div { box-sizing: content-box; }
/* generated by https://loading.io/ */
</style>
</div>


        `);
    })
    $(document).on('pjax:beforeReplace', function () {
        $('main').hide();
        $('main').fadeIn(500);
    })


    function Redirect() {
        try {
            let redirect = decodeURIComponent(escape(window.atob(getCookie("PJAX-URL"))))

            if (redirect !== location.pathname) {
                history.replaceState(null, null, redirect);
                setCookie('PJAX-URL', "", null)
            }
        } catch (e) {

        }

    }

    $(document).on('pjax:end', function (event, xhr, options) {


        Redirect();
    });


    function getCookie(cookieName) {
        var cookieValue = null;
        if (document.cookie) {
            var array = document.cookie.split((escape(cookieName) + '='));

            array.reverse();
            if (array.length >= 2) {
                var arraySub = array[0].split(';');
                cookieValue = unescape(arraySub[0]);
            }

        }
        return cookieValue;
    }


    function setCookie(cookie_name, value, days) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + days);
        // 설정 일수만큼 현재시간에 만료값으로 지정

        var cookie_value = escape(value) + ((days == null) ? '' : ';    expires=' + exdate.toUTCString());
        document.cookie = `${cookie_name}=${cookie_value};path=/`;
    }


    $(window).scroll(function () {

        $('#sidebarFixedMenu').css({
            'top': $(window).scrollTop()
            //Why this 15, because in the CSS, we have set left 15, so as we scroll, we would want this to remain at 15px left
        });

    });


    var fullHeight = function () {

        $('.js-fullheight').css('height', $(window).height());
        $(window).resize(function () {
            $('.js-fullheight').css('height', $(window).height());
        });

    };
    fullHeight();


    $('.sidebarCollapse').on('click', function () {
        $(this).children("i").toggleClass("fa-bars");
        $(this).children("i").toggleClass("fa-arrow-left");
        $('.sidebarCollapseMobile i').toggleClass("fa-bars");
        $('.sidebarCollapseMobile i').toggleClass("fa-arrow-left");
        $('#sidebar').toggleClass('active');
    });

    $('.sidebarCollapseMobile').on('click', function () {
        $(this).children("i").toggleClass("fa-bars");
        $(this).children("i").toggleClass("fa-arrow-left");
        $('.sidebarCollapse i').toggleClass("fa-bars");
        $('.sidebarCollapse i').toggleClass("fa-arrow-left");
        $('#sidebar').toggleClass('active');
    });


    if (matchMedia("screen and (min-width: 768px)").matches) {
        $("#sidebar").addClass("active");
    } else {
        // 1024px 미만에서 사용할 JavaScript
        $("#sidebar").toggleClass("active");
        $(".sidebarCollapseMobile i").toggleClass("fa-bars");
        $(".sidebarCollapseMobile i").toggleClass("fa-arrow-left");


    }

    function userTheme(toggle = false) {


        let userMode = localStorage.userThemeMode || 'auto';
        userNode = getCookie("userTheme") || 'auto';

        const osMode = !!window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches ? 'dark' : 'light';
        if (toggle) {
            switch (userMode) {
                case 'auto':

                    if (osMode === "dark") {
                        userMode = "light";
                    } else {
                        userMode = "dark";
                    }

                    break;
                case 'dark':
                    userMode = 'light';
                    break;
                default:
                    userMode = 'dark';
                    break;
            }
            localStorage.userThemeMode = userMode;
            setCookie("userTheme", userMode, 1000);
        }
        console.log(`current mode : ${userMode}`);
        window.__THEME_MODE = userMode === 'auto' ? osMode : userMode;
        document.getElementsByTagName('body')[0].classList[window.__THEME_MODE === 'dark' ? 'add' : 'remove']('dark-mode');
        if (window.__THEME_MODE === 'dark') {
            $("#darkModeIcon").addClass("fa-moon");
            $("#darkModeIcon").removeClass("fa-sun");
        } else {
            $("#darkModeIcon").addClass("fa-sun");
            $("#darkModeIcon").removeClass("fa-moon");
        }


    }

    if (!!window.matchMedia) {
        ['light', 'dark'].forEach(mode => {
            window.matchMedia(`(prefers-color-scheme: ${mode})`).addListener(e => {
                if (!!e.matches) {
                    userTheme();
                }
            });
        });
    }
    userTheme();


</script>

</body>
</html>