{% for munhak_row in data.munhak_rows %}
    <a class="munhakCardWrapper"
       munhak_seq="{{ munhak_row.munhak_seq }}" page="{{ data.page }}">
        <div class="munhakCard">

            <div class="upperText">
                {{ munhak_row.writer }}, 『{{ munhak_row.title }}』
            </div>
            <div class="bottomText">
                     <span class="source">
                     {{ munhak_row.source }}
                </span>
                &nbsp;·&nbsp;
                <span class="category">
                    {{ munhak_row.category }}
                </span>
            </div>

            <div class="searchResultTagContainer">
                {% for tag in munhak_row.tags %}

                    <span class="tag searchResultTag {{ "searchQueryTag" if tag in data.search_query_tags else "" }}">
                        #&nbsp;{{ tag }}
                    </span>
                {% endfor %}
            </div>

        </div>
    </a>
{% endfor %}

<div class="hiddenValue" key="maxPage" value="{{ data.max_page }}">
</div>

<div class="hiddenValue" key="totalRows" value="{{ data.total_rows }}">
</div>


<script>

    function setCookie(cookie_name, value, days) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + days);
        // 설정 일수만큼 현재시간에 만료값으로 지정

        var cookie_value = escape(value) + ((days == null) ? '' : ';    expires=' + exdate.toUTCString());
        document.cookie = cookie_name + '=' + cookie_value + ";PATH=/";
    }

    $(".munhakCardWrapper").on("click", function () {

        setCookie("page", $(this).attr("page"), 1)
        location.href = `/board/detail/${$(this).attr("munhak_seq")}`

    })


</script>