{% extends "layout.html" %}


{% block style %}
    <title>{{ data.title }}({{ data.writer }}) - 문학모아</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/munhak_board.css') }}">
{% endblock %}

{% block main %}
    <div id="contentContainer">
        <div id="title">
            {{ data.title }}
        </div>

        <div class="d-flex justify-content-between">
            <div id="writer">
                {{ data.writer }}
            </div>

            <div id="category_source">
                <span id="source">
                     {{ data.source }}
                </span>
                &nbsp;·&nbsp;
                <span id="category">
                    {{ data.category }}
                </span>
            </div>
        </div>
        <div id="bottomContent">

            {% if data.related_list != [] or data.related_list_subject != [] %}
                <div class="pgContainer">

                    <div class="pgContent">
                        <div id="relatedContainer">


                            <i class="fas fa-link"></i>

                            {% for munhak_row in data.related_list %}

                                <a onClick="movePage(`{{ url_for('board.munhak_board_detail', munhak_seq=munhak_row.munhak_seq) }}`);">
                                    <span class=" related relatedPrimary">
                                    {{ munhak_row.writer }}, 『{{ munhak_row.title }}』-&nbsp;{{ munhak_row.source }}
                                    </span>

                                </a>

                            {% endfor %}
                            {% for munhak_row in data.related_list_subject %}
                                <a onClick="movePage(`{{ url_for('board.munhak_board_detail', munhak_seq=munhak_row.munhak_seq) }}`);">
                            <span class="related">
                                {{ munhak_row.writer }}, 『{{ munhak_row.title }}』-&nbsp;{{ munhak_row.source }}
                            </span>

                                </a>

                            {% endfor %}
                        </div>

                    </div>
                </div>
            {% endif %}


            <div class="pgContainer">
                <div class="pgTitle">
                    꼬리말
                </div>

                <div class="pgContent">
                    <div id="tagContainer">

                        <span id="userTagContainer">
                             {% for tag in data.tags %}
                                 <span class="tag userTag {{ "userTagLiked" if tag.liked == "true" else "" }}"
                                       tag_name="{{ tag.tag_name }}"
                                       tag_like_count="{{ tag.like_count }}" tag_seq="{{ tag.tag_seq }}"
                                       tag_liked="{{ tag.liked }}" is_mine="{{ tag.is_mine }}">
                                    #&nbsp;{{ tag.tag_name }}
                                </span>
                             {% endfor %}

                        </span>


                        <span class="tag" id="openAddTagPopover">
                            + 추가하기
                        </span>
                    </div>


                </div>
            </div>

            <div class="pgContainer">
                <div class="pgTitle">
                    주제
                </div>

                <div class="pgContent">
                    {{ data.subject if data.subject != "" else "주제가 입력되지 않았습니다." }}
                </div>
            </div>


            <div class="pgContainer">
                <div class="pgTitle">
                    감상 팁
                </div>

                <div class="pgContent">
                    <div id="tipContainer">


                        {% for tip in data.tips %}

                            <div class="tipWrapper" data-toggle="false" tip_seq="{{ tip.tip_seq }}"
                                 is_mine={{ tip.is_mine }}>
                                <div class="tip">
                                    {{ tip.tip_content | markdown }}

                                    <div class="bottomTipInfo">
                                        <div>

                                            <span class="tipLikeHeart {{ "tipLike" if tip.liked == "true" else "" }}"
                                            >
                                                <i class="fas fa-heart"></i>
                                            </span>
                                            &nbsp;
                                            <span class="tipLikeCount">{{ tip.like_count }}</span>

                                        </div>

                                        <div>
                                            <span class="tipWriterNickname">
                                                작성자 : {{ tip.user_nickname }}
                                            </span>
                                            {% if tip.is_mine == "true" %}
                                                &nbsp; &nbsp;

                                                <span class="btn btn-outline-secondary editTipButton">
                                                    수정
                                                 </span>

                                                <span class="btn btn-outline-danger deleteTipButton">
                                                    삭제
                                                </span>
                                            {% endif %}

                                        </div>

                                    </div>


                                </div>


                                <div class="openTip">
                                    펼쳐 보기&nbsp;<i class="fas fa-chevron-down"></i>
                                </div>
                                <div class="closeTip">
                                    <i class="fas fa-chevron-up"></i> 접기
                                </div>
                            </div>



                        {% endfor %}

                        {% if data.tip_mine_exist == false %}
                            <div id="addTipWrapper">
                                <div id="addTip">
                                    + 추가하기
                                </div>
                            </div>
                        {% endif %}

                    </div>


                </div>
            </div>


            <div class="pgContainer">
                <div class="pgTitle">
                    강의 영상
                </div>
                <div class="pgContent">
                    <h5>작품 강의</h5>
                    <div id="mVideos">

                        {% for video in data.munhak_video_list %}

                            <div class="videoWrapper" video_url="{{ video.youtube_url }}"
                                 video_seq="{{ video.video_seq }}"
                                 is_mine="{{ "true" if video.is_mine == "true" else "false" }}">

                                <img class="videoThumbnail"
                                     src="{{ video.youtube_thumbnail }}">
                                <div class="videoTitle">
                                    {{ video.youtube_title }}
                                </div>


                            </div>
                        {% endfor %}
                        <div class="addVideoWrapper">
                            <div id="openAddMunhakVideoModal" class="addVideo">
                                + 추가하기
                            </div>
                        </div>


                    </div>
                    <br>
                    <h5>전체 강의</h5>
                    <div id="eVideos">
                        {% for video in data.exam_video_list %}

                            <div class="videoWrapper" video_url="{{ video.youtube_url }}"
                                 video_seq="{{ video.video_seq }}"
                                 is_mine="{{ "true" if video.is_mine == "true" else "false" }}">

                                <img class="videoThumbnail"
                                     src="{{ video.youtube_thumbnail }}">
                                <div class="videoTitle">
                                    {{ video.youtube_title }}
                                </div>


                            </div>
                        {% endfor %}
                        <div class="addVideoWrapper">
                            <div id="openAddExamVideoModal" class="addVideo">
                                + 추가하기
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <div class="hidden" id="addTagPopover">
        <div class="addTagPopoverWrapper">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">#</span>
                </div>
                <input type="text" class="form-control addTagInput" placeholder="꼬리말">
            </div>
            <div class="btn btn-primary addTagButton">
                확인
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}
    <script>
        (() => {
            let clicked_tag;
            let clicked_video;
            let is_logined = {{ "true" if "user" in session else "false"}};

            $("#addTip").on("click", function () {
                if (!is_logined) {
                    not_logined();
                    return;
                }

                location.href = `{{ url_for("board.write_tip_form", munhak_seq = data.munhak_seq) }}`
            })


            $(document).on("click", ".openTip,.closeTip", function (e) {
                let target = e.target
                let $tipWrapper = $(target).parents(".tipWrapper")
                let $tip = $tipWrapper.children(".tip")
                if ($tipWrapper.attr("data-toggle") == "true") {
                    $tipWrapper.attr("data-toggle", false)

                    {#$tip.css("max-height", "5rem");#}
                    $tip.css("height", "5rem");
                    $tip.css("filter", "blur(3px)");
                    $tipWrapper.css("background-color", "#f8f8f8");
                    $tipWrapper.children(".openTip").css("display", "block")
                    $tipWrapper.children(".closeTip").css("display", "none")

                } else {
                    $tipWrapper.attr("data-toggle", true)

                    {#$tip.css("max-height", "none");#}
                    $tip.css("height", "auto");
                    $tip.css("filter", "none");
                    $tipWrapper.css("background-color", "white");
                    $tipWrapper.children(".openTip").css("display", "none")
                    $tipWrapper.children(".closeTip").css("display", "block")

                }


            })


            function warningToast(message) {
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": false,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "2000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["warning"](message, "오류")
            }


            $("#openAddMunhakVideoModal").on("click", function () {
                if (!is_logined) {
                    not_logined();
                    return;
                }

                Swal.fire({
                    title: '유튜브 URL',
                    text: "예) https://www.youtube.com/watch?v=B7afZyTzk_Q",
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: '확인',
                    cancelButtonText: "취소",
                    showLoaderOnConfirm: true,
                    preConfirm: function (video_url) {
                        $.ajax({
                            type: "POST",
                            url: "{{ url_for("board.add_video") }}",
                            data: {
                                "video_url": video_url,
                                "type": "munhak",
                                "munhak_seq": {{ data.munhak_seq }}
                            },
                            dataType: "json",
                            statusCode: {
                                400: function (data) {
                                    warningToast("잘못된 유튜브 영상입니다.")
                                },
                                200: function (data) {
                                    window.location.reload();
                                },
                                409: function (data) {
                                    warningToast("중복된 영상입니다.")
                                }
                            }

                        }).done(function (data) {
                            console.log(data);

                        })

                    }
                })
            })
            $("#openAddExamVideoModal").on("click", function () {
                Swal.fire({
                    title: '유튜브 URL',
                    text: "예) https://www.youtube.com/watch?v=B7afZyTzk_Q",
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: '확인',
                    cancelButtonText: "취소",
                    showLoaderOnConfirm: true,
                    preConfirm: function (video_url) {
                        $.ajax({
                            type: "POST",
                            url: "{{ url_for("board.add_video") }}",
                            data: {
                                "video_url": video_url,
                                "type": "exam",
                                "munhak_source": `{{ data.source }}`
                            },
                            dataType: "json",
                            statusCode: {
                                400: function (data) {
                                    warningToast("잘못된 유튜브 영상입니다.")
                                },
                                200: function (data) {
                                    window.location.reload();
                                },
                                409: function (data) {
                                    warningToast("중복된 영상입니다.")
                                }
                            }

                        }).done(function (data) {
                            console.log(data);

                        })

                    }
                })
            });


            function not_logined() {
                warningToast("로그인이 필요합니다!");
            }


            $(document).on("click", "#tagPopoverDeleteButton", function () {
                if (!is_logined) {
                    not_logined();
                    return;
                }
                Swal.fire({
                    title: '경고',
                    text: "정말로 꼬리말을 삭제하시겠어요?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: 'grey',
                    confirmButtonText: '삭제',
                    cancelButtonText: "취소",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            url: "{{ url_for("board.delete_tag") }}",
                            data: {
                                "tag_seq": clicked_tag.tag_seq,
                            },
                            dataType: "json",
                            statusCode: {
                                404: function (data) {

                                },
                                200: function (data) {
                                    window.location.reload();
                                }
                            }

                        }).done(function (data) {
                            console.log(data);

                        })
                    }
                })
            })

            $(document).on("click", "#tagPopoverSearchButton", function () {
                location.href = `/board?tag=${clicked_tag.tag_name}`
            })

            var options = {
                source: {{ TAG_SOURCE | safe }},
                minLength: 1
            };
            var selector = 'input.addTagInput';
            $(document).on('keyup.addTagInput', selector, function () {
                $(this).autocomplete(options);
            });


            $(document).on("click", "#videoPopoverDeleteButton", function () {
                if (!is_logined) {
                    not_logined();
                    return;
                }

                Swal.fire({
                    title: '경고',
                    text: "정말로 영상을 삭제하시겠어요?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: 'grey',
                    confirmButtonText: '삭제',
                    cancelButtonText: "취소",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            url: "{{ url_for("board.delete_video") }}",
                            data: {
                                "video_seq": clicked_video.video_seq,
                            },
                            dataType: "json",
                            statusCode: {
                                404: function (data) {

                                },
                                200: function (data) {
                                    window.location.reload();
                                }
                            }

                        }).done(function (data) {
                            console.log(data);

                        })
                    }
                })
            })


            $(document).on("click", "#tagLikeHeart", function () {
                if (!is_logined) {
                    not_logined();
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "{{ url_for("board.like_tag") }}",
                    data: {
                        "tag_seq": clicked_tag.tag_seq,
                    },
                    dataType: "json",
                    statusCode: {
                        409: function (data) {
                            location.href = "./result";
                        },
                        200: function (data) {
                            console.log(data);
                            $temp = $(`.userTag[tag_seq="${clicked_tag.tag_seq}"]`);
                            if (data.liked === true) {
                                $("#tagLikeHeart").addClass("tagLike")

                                $temp.attr("tag_like_count", $temp.attr("tag_like_count") * 1 + 1);
                                $temp.attr("tag_liked", "true");
                                $temp.addClass("userTagLiked");
                                $("#tagLikeCount").text($("#tagLikeCount").text() * 1 + 1)

                            } else {
                                $("#tagLikeHeart").removeClass("tagLike")
                                $temp.attr("tag_like_count", $temp.attr("tag_like_count") * 1 - 1);
                                $temp.attr("tag_liked", "false");
                                $temp.removeClass("userTagLiked");
                                $("#tagLikeCount").text($("#tagLikeCount").text() * 1 - 1)
                            }
                        }
                    }

                }).done(function (data) {
                    console.log(data);

                })
            })


            $(document).on("click", ".addTagButton", function () {
                if (!is_logined) {
                    not_logined();
                    return;
                }
                $.ajax({
                    type: "POST",
                    url: "{{ url_for("board.add_tag") }}",
                    data: {
                        "munhak_seq": {{ data.munhak_seq }},
                        "tag_name": $(".popover-body .addTagInput").val()
                    },
                    dataType: "json",
                    statusCode: {
                        400: function (data) {
                            warningToast("꼬리말은 1~10자 사이여야 합니다.")
                        },
                        409: function (data) {
                            warningToast("중복된 태그입니다.")
                        },
                        200: function (data) {
                            window.location.reload();
                        }
                    }

                }).done(function (data) {
                    console.log(data);

                })
            })

            $("#openAddTagPopover").popover(
                {
                    title: "꼬리말 추가",
                    placement: "top",
                    content: $(".addTagPopoverWrapper").clone(),
                    html: true,
                }
            ).on('show.bs.popover', function () {
                if (window._bsPopover) {
                    $(window._bsPopover).popover('hide')
                }
                window._bsPopover = this;
            })
                .on('hide.bs.popover', function () {
                    window._bsPopover = null;
                });

            $(".userTag").on("click", function () {
                clicked_tag = {
                    tag_name: $(this).attr("tag_name"),
                    tag_seq: $(this).attr("tag_seq"),
                    tag_like_count: $(this).attr("tag_like_count"),
                    tag_liked: $(this).attr("tag_liked"),
                    is_mine: $(this).attr("is_mine")
                }
            })

            $(".videoWrapper").on("click", function () {
                clicked_video = {
                    video_url: $(this).attr("video_url"),
                    video_seq: $(this).attr("video_seq"),
                    is_mine: $(this).attr("is_mine")
                }

            })


            $(".videoWrapper").popover(
                {
                    placement: "top",
                    content: () => {
                        return `
                        <div id="videoPopoverWrapper">

                            <div id="videoPopoverButtonWrapper">
                                <a href="${clicked_video.video_url}" target="_blank">
                                    <span id="videoPopoverLinkButton" class="popoverButton"><i class="fas fa-link"></i></span>
                                </a>
                                ${
                            clicked_video.is_mine == "true" ? '<span id="videoPopoverDeleteButton" class="popoverButton"><i class="far fa-trash-alt"></i></span>' : ''
                        }
                            </div>

                        </div>

                    `
                    },
                    html: true,
                }
            ).on('show.bs.popover', function () {
                if (window._bsPopover) {
                    $(window._bsPopover).popover('hide')
                }
                window._bsPopover = this;
            })
                .on('hide.bs.popover', function () {
                    window._bsPopover = null;
                });

            $(".userTag").popover(
                {
                    placement: "top",
                    content: () => {
                        return `
                        <div id="tagPopoverWrapper">
                            <div id="tagLikeCount" >${clicked_tag.tag_like_count}</div>
                            <span id="tagLikeHeart" class="${clicked_tag.tag_liked == "true" ? "tagLike" : ""}">
                                <i class="fas fa-heart"></i>
                            </span>
                            <br>
                            <div id="tagPopoverButtonWrapper">
                                <span id="tagPopoverSearchButton" class="popoverButton"><i class="fas fa-search"></i></span>
                                ${
                            clicked_tag.is_mine == "true" ? '<span id="tagPopoverDeleteButton" class="popoverButton"><i class="far fa-trash-alt"></i></span>' : ''
                        }
                            </div>

                        </div>

                    `
                    },
                    html: true,
                }
            ).on('show.bs.popover', function () {
                if (window._bsPopover) {
                    $(window._bsPopover).popover('hide')
                }
                window._bsPopover = this;
            }).on('hide.bs.popover', function () {
                window._bsPopover = null;
            });


            $(document).on("click", ".tipLikeHeart", function (e) {
                if (!is_logined) {
                    not_logined();
                    return;
                }

                let target = e.target;
                let $tipWrapper = $(target).parents(".tipWrapper")
                $.ajax({
                    type: "POST",
                    url: "{{ url_for("board.like_tip") }}",
                    data: {
                        "tip_seq": $tipWrapper.attr("tip_seq")
                    },
                    dataType: "json",
                    statusCode: {
                        200: function (data) {
                            console.log(data);

                            if (data.liked === true) {
                                $(target).addClass("tipLike")


                                $tipWrapper.find(".tipLikeCount").text($tipWrapper.find(".tipLikeCount").text() * 1 + 1)
                                {#$("#tagLikeCount").text($("#tagLikeCount").text() * 1 + 1)#}

                            } else {
                                $(target).removeClass("tipLike")
                                {#$temp.attr("tag_like_count", $temp.attr("tag_like_count") * 1 - 1);#}

                                $tipWrapper.find(".tipLikeCount").text($tipWrapper.find(".tipLikeCount").text() * 1 - 1)
                            }
                        }
                    }

                }).done(function (data) {
                    console.log(data);

                })
            })

            $(document).on("click", ".deleteTipButton", function (e) {
                if (!is_logined) {
                    not_logined();
                    return;
                }

                Swal.fire({
                    title: '경고',
                    text: "정말로 감상 팁을 삭제하시겠어요?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: 'grey',
                    confirmButtonText: '삭제',
                    cancelButtonText: "취소",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: "POST",
                            url: "{{ url_for("board.delete_tip") }}",
                            data: {
                                "tip_seq": $(e.target).parents(".tipWrapper").attr("tip_seq")
                            },
                            dataType: "json",
                            statusCode: {
                                404: function (data) {

                                },
                                200: function (data) {
                                    window.location.reload();
                                }
                            }

                        }).done(function (data) {
                            console.log(data);

                        })
                    }
                })
            })


            $(document).on("click", ".editTipButton", function () {
                if (!is_logined) {
                    not_logined();
                    return;
                }

                location.href = `{{ url_for("board.write_tip_form", munhak_seq = data.munhak_seq) }}`
            })
        })();

    </script>
{% endblock %}