{% extends "layout.html" %}


{% block style %}
    <title>독서퀴즈 - 문학모아</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/munhak_board.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/reading_quiz.css') }}">


{% endblock %}

{% block main %}


    <div id="contentContainer">
        <span id="searchResult">

        </span>
        <div id="goPrevPage">
            더 보기
        </div>
        <div id="cardContainer">
            {% for munhak_row, quiz_count in data.munhak_list %}
                <a class="munhakCardWrapper"
                   munhak_seq="{{ munhak_row.munhak_seq }}">
                    <div class="munhakCard">

                        <div class="upperText">
                            {{ munhak_row.writer }}, 『{{ munhak_row.title }}』
                        </div>
                        <div class="bottomText">
                     <span class="source" remark-data="{{ munhak_row.remark.replace(" ","_") }}">
                     {{ munhak_row.remark }}
                </span>
                            &nbsp;|&nbsp;
                            <span class="quizCount">
                                <i class="far fa-comment-dots"></i> {{ quiz_count }}
                            </span>
                        </div>


                    </div>
                </a>
            {% endfor %}

        </div>
        <div id="goNextPage">
            더 보기
        </div>

    </div>

{% endblock %}

{% block script %}
    <script>
        (() => {

            $(".munhakCardWrapper").on("click", function () {

                movePage(`/reading-quiz/detail/${$(this).attr("munhak_seq")}`);
            })

            // const $highlightMunhak = $(".source[remark-data=성_기하배_1학기_제_1차_지필고사]");
            const $highlightMunhak = $(".source[remark-data=성_기하배_제_2회_독서퀴즈]");
            $highlightMunhak.addClass("highlightReadingQuizMunhak");


        })();

    </script>
{% endblock %}