{% extends "quiz/layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/quiz.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/ranking.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/live.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/room.css') }}">
    <title>알아두면 쓸데없는 문학퀴즈 - 문학모아</title>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
{% endblock %}

{% block main %}



    <div id="container">


        <div id="waitContent">

            <div id="leftContainer">
                <div id="userContainer">


                </div>
            </div>

            <div id="rightContainer">
                <div id="roomIdWrapper">
                    방 번호 :
                    <div id="roomId" data-clipboard-text="{{ data.room_id }}">
                        {{ data.room_id }}
                    </div>
                </div>


                <div id="roomSettingWrapper">
                    <div id="goalScore">목표 점수 : 20</div>
                    <div id="correctScore">맞혔을 때 : +2</div>
                    <div id="wrongScore">틀렸을 때 : -1</div>


                    <div id="roomSettingIconWrapper">
                        <i class="fas fa-cog"></i>
                    </div>
                </div>


                <div id="roomButtonContainer">

                    <div class="btn btn-outline-danger" id="exitButton">나가기</div>
                    <div class="btn btn-outline-primary" id="readyButton">준비</div>
                    <div class="btn btn-outline-primary" id="startLiveButton">시작</div>
                </div>
            </div>


        </div>

        <div id="myProgressBarWrapper">
            <div id="myProgressBar">

            </div>

        </div>


    </div>
    <div class="overlayBox" id="countDownOverlay">

    </div>

    <div class="overlayBox" id="gameEndOverlay">
        게임 끝!
    </div>

    <div class="overlayBox" id="gameStartOverlay">

    </div>


    <div class="modal fade" id="liveRankingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body liveRankingModalBody">

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="roomSettingModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-body roomSettingModalBody">
                    <div class="form-group">
                        <label for="goalScoreInput" id="goalScoreLabel">목표 점수 : </label>
                        {#                <br>#}
                        <input type="number" id="goalScoreInput" min="1" value="20">
                        <small id="nicknameHelp" class="form-text text-muted" default="hello">도달하면 게임이 끝나는 점수(자연수)
                            <span id="nicknameLength"></span>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="correctScoreInput" id="correctScoreLabel">정답 점수 : </label>
                        {#                <br>#}
                        <input type="number" id="correctScoreInput" min="1" value="2">
                        <small id="nicknameHelp" class="form-text text-muted" default="hello">맞혔을 때 얻는 점수(자연수)
                            <span id="nicknameLength"></span>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="wrongScoreInput" id="wrongScoreLabel">오답 점수 : </label>
                        {#                <br>#}
                        <input type="number" id="wrongScoreInput" min="0" value="1">
                        <small id="nicknameHelp" class="form-text text-muted" default="hello">틀렸을 때 잃는 점수(0 이상 정수)
                            <span id="nicknameLength"></span>
                        </small>
                    </div>

                    <div class="btn-outline-primary btn" id="editRoomSettingButton">
                        설정 수정
                    </div>
                </div>

            </div>
        </div>
    </div>




{% endblock %}



{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.dev.js"
            integrity="sha512-jJ6sFqh2ihNKr7SamUHpFAjdVHXTI7SWNEKZBEmYFFz/2WEr6wrHFYczX6GlGVIZ6Mu8JBrVuvdy8vji4CVbXA=="
            crossorigin="anonymous"></script>


    <script>
        new ClipboardJS('#roomId');

        let is_playing = false;
        $("#quizContent").hide();
        {#$("#waitContent").hide();#}

        $("#startLiveButton").hide()
        $("#myProgressBarWrapper").hide()
        $(".overlayBox").hide();
        let room_id = {{ data.room_id }};


        let socket;
        if (window.location.host == "127.0.0.1:5000") {
            socket = io.connect("/live");
        } else {
            socket = io.connect("/live", {transports: ['websocket']});
        }


        socket.on('connect', function () {
            socket.emit('join_live_room', {
                room_id: room_id
            })
        })

        socket.on('error', function () {
            {#alert("err");#}
            location.href = "/quiz/live"
        })


        socket.on('update_room_info', function (data) {
            console.log(data);
            $("#userContainer").html("")
            for (let user in data["users"]) {

                $("#userContainer").append(`
                    <div class="userWrapper">
                        <i class="fas fa-user userIcon ${user === socket.io.engine.id ? 'meIcon' : ''}"></i>
                        <span class="userNickname" style="color:${data["users"][user].color}">${data["users"][user].nickname}</span>
                       ${user === data["room_master"] ? `
                        <div class="roomMasterIconWrapper">
                            <i class="fas fa-crown"></i>

                        </div>
                     ` : `
                        ${
                    data["users"][user]["is_ready"] === true ? `<span class="badge badge-pill badge-primary readyBadge">준비완료</span>` : ``
                }

                     `}

                    </div>



                `)


                if (user === socket.io.engine.id) {
                    $("#readyButton").text(
                        data["users"][user]["is_ready"] === true ? "준비 취소" : "준비"
                    );
                }


            }
            if (socket.io.engine.id === data["room_master"]) {
                $("#readyButton").hide()
                $("#startLiveButton").show()


                $("#roomSettingWrapper").on("click", function () {
                    $("#roomSettingModal").modal();
                })

                $("#roomSettingIconWrapper").show();


            } else {
                $("#readyButton").show()
                $("#startLiveButton").hide()

                $("#roomSettingWrapper").off("click");
                $("#roomSettingIconWrapper").hide();

            }


        })

        $("#exitButton").on("click", function () {
            socket.emit('leave_live_room')

            location.href = "/quiz/live";
        })

        $("#startLiveButton").on("click", function () {

            socket.emit("start_live", {
                room_id: room_id
            });
        })


        $("#readyButton").on("click", function () {

            socket.emit("ready_live", {
                room_id: room_id
            });
        })


        socket.on('live_started', function (data) {
            $("#quizContent").remove();
            $("#waitContent").hide();



            $("#gameStartOverlay").html(`
                <h1>${data["goal_score"]}점을 먼저 획득하세요!</h1>
                <br>
                <h4>맞혔을 때 : +${data["correct_score"]}</h4>
                <h4>틀렸을 때 : -${data["wrong_score"]}</h4>
            `);
            $("#gameStartOverlay").show();
            is_playing = true
            setTimeout(function () {
                $("#gameStartOverlay").hide();
                $("#countDownOverlay").show();
                $("#countDownOverlay").text("3");
                setTimeout(function () {
                    $("#countDownOverlay").text("2");
                    setTimeout(function () {
                        $("#countDownOverlay").text("1");

                        setTimeout(function () {
                            $("#countDownOverlay").hide();
                            real_start();
                        }, 500);
                    }, 500);

                }, 500);
            }, 1500);


            function real_start() {

                $("#myProgressBarWrapper").attr("goal_score", data["goal_score"])


                for (let sid in data["users"]) {
                    if (sid == socket.io.engine.id) {
                        {#$("#myProgressBarWrapper").css("background-color",data["users"][sid]["color"]);#}
                        $("#myProgressBar").css("background-color", data["users"][sid]["color"]);
                        $("#myProgressBar").height("0px")
                    } else {
                        $(".otherPlayerMarker").remove()
                        $("#myProgressBarWrapper").append(
                            `
                    <div class="otherPlayerMarker" id="otherPlayerMarker${sid}" style="color:${data["users"][sid]["color"]}; top : 15px">
                        <i class="fas fa-map-marker"></i>
                    </div>
                    `
                        )
                    }

                }
                $("#myProgressBarWrapper").show()

                socket.emit("mark_and_get_quiz", {
                    room_id: room_id
                })
            }


        })

        socket.on('solve_progress', function (data) {
            console.log(data)
            if (socket.io.engine.id == data["sid"]) {
                $("#myProgressBar").animate({height: $("#myProgressBarWrapper").height() * data["score"] / $("#myProgressBarWrapper").attr("goal_score")}, 800, function () {
                    {#$("#quizContent2").remove();#}
                });
            } else {
                $(`#otherPlayerMarker${data["sid"]}`).animate({top: ($("#myProgressBarWrapper").height() - 25) * data["score"] / $("#myProgressBarWrapper").attr("goal_score") + 15}, 800, function () {
                    {#$("#quizContent2").remove();#}
                });
            }

        })


        socket.on('end_live', function (data) {
            is_playing = false

            $("#gameEndOverlay").show()

            setTimeout(function () {
                {#alert("game end!")#}
                console.log("result", data)

                $("#quizContent").hide();
                $("#waitContent").show();
                $("#myProgressBarWrapper").hide();
                $("#gameEndOverlay").hide()


                $("#liveRankingModal .liveRankingModalBody").html(
                    `
                    <div class="rankingText">
                        순위표
                    </div>
                    <table id="rankingTable">
                        <tr>
                            <th class="rankingNo">
                                #
                            </th>
                            <th class="rankingNickname">
                                별명(닉네임)
                            </th>
                            <th class="rankingScore">
                                최고 점수
                            </th>
                        </tr>




                        ${
                        Object.keys(data["users"]).map(
                            (sid, index) => {
                                return `
                                <tr>
                                    <td>
                                        ${index + 1}
                                    </td>
                                    <td>
                                        ${data["users"][sid]["nickname"]}
                                    </td>
                                    <td>
                                        ${data["users"][sid]["score"]}
                                    </td>


                                </tr>

                                `
                            }
                        )

                    }



                    </table>

                    `
                )


                $("#liveRankingModal").modal()


            }, 1500);


        })

        socket.on('alert_message', function (data) {
            alert(data)
        })


        socket.on('receive_quiz', function (data) {
            console.log(data)

            let quiz_html = `
    <div id="quizContent">
        <div id="upperBox">
            <div id="quizNo">
                ${data["quiz_data"].quiz_no}
            </div>
            <div id="category">
                ${data["quiz_data"].category}
            </div>
        </div>

        <div id="hint">
            <q>&nbsp;${data["quiz_data"].hint}&nbsp;</q>
        </div>
        <hr>
        <div id="options">
            ${
                data["quiz_data"].options.map(
                    (option, index) => {
                        return `
                        <div  class="option" option="${index}" id="option${index + 1}">
                            ${option}
                        </div>
                        `
                    }
                ).join(" ")
            }
        </div>

    </div>
`;


            if (data["is_correct"] == null) {
                $("#quizContent").remove();

            } else if (data["is_correct"] === true) {
                $("#container").animate({"background-color": "#91e4ff"}, 100, function () {
                    setTimeout(function () {
                        $("#container").animate({"background-color": "white"}, 100, function () {

                        });
                    }, 500);

                });

                $("#quizContent").attr("id", "quizContent2");
                $("#quizContent2").css("position", "fixed");
                $("#quizContent2").animate({top: -$("#quizContent2").height() - 50}, 500, function () {
                    $("#quizContent2").remove();
                });
            } else if (data["is_correct"] === false) {
                $("#container").animate({"background-color": "#ff978e"}, 100, function () {
                    setTimeout(function () {
                        $("#container").animate({"background-color": "white"}, 100, function () {

                        });
                    }, 500);

                });

                $("#quizContent").attr("id", "quizContent2");
                $("#quizContent2").css("position", "fixed");
                $("#quizContent2").animate({top: -$("#quizContent2").height() - 50}, 500, function () {
                    $("#quizContent2").remove();
                });
            }

            $("#container").append(
                quiz_html
            );
            $("#quizContent").css("position", "fixed");
            $("#quizContent").css("top", `${$(document).height()}px`);

            console.log($("#quizContent").css("top"));
            $temp = $("#quizContent");
            $temp.animate({top: ($(document).height() - $temp.height()) / 2}, 700, function () {
                setTimeout(function () {
                    $temp.css("position", "unset");
                }, 500);

            });


        })


        $(document).on("click", "#quizContent .option", function (e) {

            if (is_playing == false) {
                return
            }

            let $target = $(e.target);
            $("#quizContent .option").off("click");

            let answer = $target.attr("option");

            socket.emit("mark_and_get_quiz", {
                room_id: room_id,
                answer: answer * 1
            })

        })


        $("#editRoomSettingButton").on("click", function () {
            socket.emit("edit_room_setting", {
                room_id: room_id,
                correct_score: $("#correctScoreInput").val() * 1,
                wrong_score: $("#wrongScoreInput").val() * 1,
                goal_score: $("#goalScoreInput").val() * 1,
            });

            $("#roomSettingModal").modal("hide")


        })

        socket.on("room_setting_edited", function (data) {
            $("#goalScore").html(`목표 점수 : ${data["goal_score"]}`)
            $("#correctScore").html(`맞혔을 때 : +${data["correct_score"]}`)
            $("#wrongScore").html(`틀렸을 때 : -${data["wrong_score"]}`)
        })


    </script>
{% endblock %}