{% extends "quiz/layout.html" %}

{% block style %}
    <title>로그인 - 문학모아</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login_form.css') }}">
    <link rel='stylesheet' href='https://unpkg.com/nprogress@0.2.0/nprogress.css'/>
    <script src='https://unpkg.com/nprogress@0.2.0/nprogress.js'></script>
{% endblock %}

{% block main %}
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <div id="container">
        <div id="content">
            <div id="title">
                소셜 계정으로 로그인 / 회원가입
            </div>

            <div id="kakaoLoginButton">

            </div>
        </div>
    </div>



    <script type="text/javascript">
        function setCookie(cookie_name, value, days) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + days);
            // 설정 일수만큼 현재시간에 만료값으로 지정

            var cookie_value = escape(value) + ((days == null) ? '' : ';    expires=' + exdate.toUTCString());
            document.cookie = cookie_name + '=' + cookie_value;
        }

        function getCookie(cookieName) {
            var cookieValue = null;
            if (document.cookie) {
                var array = document.cookie.split((escape(cookieName) + '='));
                if (array.length >= 2) {
                    var arraySub = array[1].split(';');
                    cookieValue = unescape(arraySub[0]);
                }
            }
            return cookieValue;
        }

        Kakao.init("7c6363be08358dc7ce7079459bfe67de");

        Kakao.Auth.createLoginButton({
            container: '#kakaoLoginButton',
            success: function (response) {
                NProgress.start();
                $.ajax({
                    type: "POST",
                    url: "./login-query-kakao",
                    data: {"access_token": response.access_token},
                    dataType: "json",
                    statusCode: {
                        404: function (data) {

                            setCookie("kakao-access-token", response.access_token, 1);
                            location.href = "{{ url_for("user.register_form") }}";
                        },
                        200: function (data) {

                            if (getCookie("after-login-redirect") != undefined && getCookie("after-login-redirect") != "") {
                                let t = getCookie("after-login-redirect");
                          
                                setCookie('after-login-redirect', '', '-1');
                                NProgress.done();
                       
                                location.href = t;
                            } else {
                                NProgress.done();
                                location.href = "{{ url_for("board.munhak_board_list") }}";
                            }

                        }
                    }
                }).done(function (data) {
                    console.log(data);

                })
            },
            fail: function (error) {
                console.log(error);
            },
        });
    </script>


{% endblock %}



{% block script %}
    <script>

    </script>
{% endblock %}