{% extends "quiz/layout.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login_form.css') }}">
{% endblock %}

{% block main %}
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <div id="container">
        <div id="content">
            <div id="title">
                회원 정보 입력
            </div>

            <div class="form-group">
                <label for="nicknameInput" id="nicknameLabel">별명(닉네임) : </label>
                {#                <br>#}
                <input type="text" id="nicknameInput">
                <small id="nicknameHelp" class="form-text text-muted">16바이트까지 가능(영문 - 1, 한글 - 2)
                    <span id="nicknameLength"></span>
                </small>
            </div>


            <div class="btn btn-secondary" id="registerButton">
                회원가입
            </div>
        </div>
    </div>



    <script type="text/javascript">

        function getCookie(cookieName) {
            var cookieValue = null;
            if (document.cookie) {
                var array = document.cookie.split((escape(cookieName) + '='));
                if (array.length >= 2) {
                    var arraySub = array[1].split(';');
                    cookieValue = unescape(arraySub[0]);
                }
            }
            return cookieValue;
        }

        function getStringLength(str) {
            var retCode = 0;
            var strLength = 0;

            for (i = 0; i < str.length; i++) {
                var code = str.charCodeAt(i)
                var ch = str.substr(i, 1).toUpperCase()

                code = parseInt(code)

                if ((ch < "0" || ch > "9") && (ch < "A" || ch > "Z") && ((code > 255) || (code < 0)))
                    strLength = strLength + 2;
                else
                    strLength = strLength + 1;
            }
            return strLength;
        }

        $("#registerButton").on("click", function () {
            let nicknameLength = getStringLength($("#nicknameInput").val());
            if (nicknameLength > 16 || nicknameLength < 1) {
                return;
            }

            $.ajax({
                type: "POST",
                url: "./register-query",
                data: {"nickname": $("#nicknameInput").val()},
                dataType: "json",
                statusCode: {
                    400: function (data) {
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "2000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr["warning"]("별명(닉네임)은 1~16바이트여야 합니다.", "오류")
                    },
                    409: function (data) {


                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": false,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": true,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "2000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr["warning"]("별명(닉네임)이 중복되었거나 이미 가입된 계정입니다.", "오류")
                    },
                    403: function (data) {
                        location.href = "{{ url_for("user.login_form") }}"
                    },
                    200: function (data) {
                        if (getCookie("after-login-redirect") != undefined) {
                            let t = getCookie("after-login-redirect");
                            setCookie('after-login-redirect', '', '-1');
                            location.href = t;
                        } else {

                            location.href = "{{ url_for("board.munhak_board_list") }}";
                        }
                    }
                }
            })
        })


        $("#nicknameInput").on("input", function () {

            let stringByteLength = getStringLength($(this).val());

            $("#nicknameLength").html(
                `(${stringByteLength}/16)`
            )
        })


        function setCookie(cookie_name, value, days) {
            var exdate = new Date();
            exdate.setDate(exdate.getDate() + days);
            // 설정 일수만큼 현재시간에 만료값으로 지정

            var cookie_value = escape(value) + ((days == null) ? '' : ';    expires=' + exdate.toUTCString());
            document.cookie = cookie_name + '=' + cookie_value;
        }

        Kakao.init("7c6363be08358dc7ce7079459bfe67de");


    </script>


{% endblock %}



{% block script %}
    <script>

    </script>
{% endblock %}